*{
    margin: 0;
    padding: 0;
}


/*-------------------------------   Nav Bar     -------------------------------------*/

#topnav{
    list-style: none;
    height: 100px;
    width: 100vw;
    text-transform: uppercase;
    font-family: Roboto,sans-serif;
    font-weight: 700;
    font-size: 1rem;
    padding: 0px;
    margin: 0px;
    color: #333;
    position: fixed;
    top: 0;
    text-decoration: none;
    margin-bottom: 1px; 
    background-color: white; 
}

#topnav li{
    display: inline;
    float: right;
    text-align: center;
    margin: 45px 28px 20px 28px;
    vertical-align: center;
}

#topnavimg{
    position: fixed;
    top: 28px;
    left: 28px;
    width: 350px;
    height: 55px;
}

#topnav li:nth-child(1){
    background-color: #333333;
    color: white;
    padding: 10px 15px 10px 15px; 
    vertical-align: center;
    margin-top: 35px;
}


/*------------------------------------------  Hero Section   ----------------------------------------------*/

#herosection{
    height: 100vh;
    width: 100vw;
    background-image: url(Images/TLOUPII.jpg);
    background-position: center;
    background-size: cover; 
    margin-top: 50px; 
}

#prevarrow{
    float: left;
    margin-top: 25%; 
}

#nextarrow{
    float: right;
    margin-top: 25%;
    padding-right: 20px; 
}

#herotext{
    color: white; 
     
}




