*{
    margin: 0;
    padding: 0;
}

/*-------------------------------   Nav Bar     -------------------------------------*/

#topnav{
    list-style: none;
    height: 200px;
    width: 100vw;
    text-transform: uppercase;
    font-family: Roboto,sans-serif;
    font-weight: 700;
    font-size: 1rem;
    padding: 0px;
    margin: 0px;
    color: #333;
    position: fixed;
    text-decoration: none;
    margin-bottom: 1px; 
}

#topnav li{
    display: inline;
    float: right;
    text-align: center;
    margin: 45px 28px 20px 28px;
    vertical-align: center;
}

#topnav img{
    position: relative;
    top: 28px;
    left: 28px;
    width: 350px;
    height: 55px;
    margin-bottom: 1px;
}

#topnav li:nth-child(1){
    background-color: #333333;
    color: white;
    padding: 10px 15px 10px 15px; 
    vertical-align: center;
    margin-top: 35px;
}

